<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getgreetings20200322120656.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e3c32703-1668-4005-8bbf-ee02f6574451/resourcegroups/getgreetings/providers/Microsoft.Web/sites/getgreetings20200322120656</ResourceId>
    <UserName>$getgreetings20200322120656</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://getgreetings20200322120656.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>